{% extends 'base.html' %}

{% block head %}
    <title>Tugas LOE</title>
{% endblock %}

{% block body %}
    <!-- Menggunakan tag <center> HTML murni untuk memaksa teks berada di tengah -->
    <center>
        <h1 style="color: #d6cdcd; margin-top: 30px; margin-bottom: 20px;">Tugas LOE</h1>
    </center>

    <div class="content">
        <h1>Edit tugas kamu!</h1>
        <form action="/edit/{{task.id}}" method="POST">
            <input type="text" name="content" id="content" value="{{task.content}}"/>
            <input type="submit" value="Perbarui"/>
        </form>
    </div>
{% endblock %}
