{% extends 'base.html'%}

{% block head %}
<title>Tugas LOE</title>   
{% endblock %}

{% block body %}
<div class="content">
        <h1>SEPA'S SCHEDULE</h1>

        {% if tasks | length < 1%}
        <h3>Tugas Kosong.. Buat disini!</h3>
        {% else %}
        <table>
            <tr>
                <th>Tugas</th>
                <th>Tanggal</th>
                <th>Aksi</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{task.content}}</td>
                    <td>{{task.created.strftime("%d-%m-%Y")}}</td>
                    <td>
                        <a href="/delete/{{task.id}}">Delete</a>
                        <br/>
                        <a href="/edit/{{task.id}}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Tambahkan" id="btn_add">
            
        </form>
    </div>
{% endblock %}
